**Function**

- function is a block of or pice of code can use multiple times

- function is used to re use the same task multiple times

- every function needs a name

    - the name us used to call the function 
    - the same variable rules are applicable to **function names**

- function name can not be any variable name which already using

- function name can not be module or package name

- function name can not be your file name

In [ ]:
# # i want to do a tax calculation 
# salary=eval(input('enter the salary:'))
# tax_per=eval(input('enter the tax_per:'))
# tax_amount=salary*tax_per/100
# print(f"the total tax amount: {tax_amount}")

In [ ]:
def <fun_name>():
    <write you code here>

In [2]:
def greet():
    print("hello good evining")

hello good evining

In [4]:
greet

In [5]:
greet()

hello good evining

In [6]:
driver() # colling function before

NameError: name 'driver' is not defined

In [9]:
def driver():
    print("driver come here")
    print("i am coming")

In [10]:
driver()

driver come here
i am coming

In [11]:
# spot on
def new_employee ():
    a=100
    b=200
    c=aa+bb
    print(c)

In [12]:
new_employee()

NameError: name 'aa' is not defined

- when we define the function it will not throw any error
- unitill unless we call the function

In [13]:
# spot on- 2
a=100

In [14]:
b=200

In [16]:
c=a+b
c

300

In [18]:
def new_employee ():
    a=100
    b=200
    c=a+b
    print(c)
new_employee()

300

In [22]:
# wap ask the enter three numbers and fint the avg
def avg():
    a=eval(input("enter a number: "))
    b=eval(input("enter a number: "))
    c=eval(input("enter a number: "))
    avg=(a+b+c)/3
    print(f"the average three numbers is : {avg}")
avg()

enter a number:  10
enter a number:  20
enter a number:  30

the average three numbers is : 20.0

In [23]:
# wap ask  enter salary and tax_per and cal tax_amount
def cal_tax():
    salary=int(input("enter salary: "))
    tax_per=int(input("enter tax_per: "))
    tax_amount=salary*tax_per/100
    print(f"the total tax amount: {tax_amount}")
cal_tax()

enter salary:  50000
enter tax_per:  30

the total tax amount: 15000.0

In [24]:
#wap ask the user to fine area of circle
def cal_areaOfCircle():
    r=eval(input("enter radius of circle:"))
    pi=3.14
    area_of_circle=pi*r*r
    print(f"the area of circle is : {area_of_circle}")
cal_areaOfCircle()

enter radius of circle: 50

the area of circle is : 7850.0

In [27]:
# find even and odd
def even_odd():
    num=eval(input("enter a number: "))
    if num%2==0:
        print(f"{num} is even")
    else:
        print(f"{num} is odd")
even_odd()

enter a number:  3

3 is odd

In [32]:
# ask the user enter a n1 , take random n2
import random
def RANDOM_NUMBER_GAME():
    n1=int(input("enter a number: "))
    n2= random.randint(1,100)
    if n1==n2:
        print("you win")
    else:
        print("you lose")
RANDOM_NUMBER_GAME()

enter a number:  30

you lose

In [2]:
def AVERAGE1():
        try:
            a=eval(input("enter a number: "))
            b=eval(input("enter a number: "))
            c=eval(input("enter a number: "))
            avg=(aaa+b+c)/3
            print(f"the average three numbers is : {avg}")
        except Exception as e:
            print(e)

In [3]:
AVERAGE1()

enter a number:  5
enter a number:  6
enter a number:  2

name 'aaa' is not defined

In [6]:
try:
    def AVERAGE2():
            a=eval(input("enter a number: "))
            b=eval(input("enter a number: "))
            c=eval(input("enter a number: "))
            avg=(aj+b+c)/3
            print(f"the average three numbers is : {avg}")
except Exception as e: 
    print(e)

In [7]:
AVERAGE2()

enter a number:  5
enter a number:  6
enter a number:  5

NameError: name 'aj' is not defined

In [8]:
def cal_area_Of_Circle1():
    """
    this code calculate the area of circle
    without argument 
    """
    r=eval(input("enter radius of circle:"))
    pi=3.14
    area_of_circle=pi*r*r
    print(f"the area of circle is : {area_of_circle}")
cal_area_Of_Circle1()

enter radius of circle: 20

the area of circle is : 1256.0

**functions with arguments**

- How many variable are there in function AVERAGE

    - n1,n2,n3 and avg
      
- how many are input variables

    - n1,n2 and n3
      
- How many are output variable

    - avg

- Dont touch the output variable

In [3]:
def AVERAGE3(n1,n2,n3):
    avg=(n1+n2+n3)/3
    print(f"the average three numbers is : {avg}")

In [4]:
AVERAGE3(10,20,30)

the average three numbers is : 20.0

In [5]:
AVERAGE3(n1=10,n2=20,n3=30)

the average three numbers is : 20.0

In [8]:
def cal_tax(salary,tax_per):
    tax_amount=salary*tax_per/100
    print(f"the total tax amount: {tax_amount}")

In [9]:
cal_tax(5000,30)

the total tax amount: 1500.0

In [15]:
import math
def cal_areaOfCircle1(pi,r):
    # r=eval(input("enter radius of circle:")) 
    # pi=3.math.pi
    area_of_circle=pi*r*r
    print(f"the area of circle is : {area_of_circle}")

In [17]:
cal_areaOfCircle1(math.pi,10)

the area of circle is : 314.1592653589793

In [22]:
import random
def RANDOM_NUMBER_GAME(n1,n2):
    # n2= random.randint(1,100)
    if n1==n2:
        print("you win")
    else:
        print("you lose")

In [23]:
RANDOM_NUMBER_GAME(10,random.randint(1,100))

you lose

In [14]:
def even_odd(num):
    if num%2==0:
        print(f"the {num} is even")
    else:
        print(f"the {num} is odd")
even_odd(eval(input("enter a number: ")))

enter a number:  210

the 210 is even

In [18]:
import math
from random import randint
def Area_Of_Circle3(pi,r):
     area_of_circle=pi*r*r
     print(f"the area of circle is : {area_of_circle}")
Area_Of_Circle3(math.pi, randint(10,100))

the area of circle is : 6361.725123519332

**Defualt Arguments**

- Defualt arguments means some arguments values are fixed
- in the time of definition
    - ex. def add(a=10, b=30):

In [24]:
def ADD(a,b,c=50):
    print("a:",a)
    print("b:",b)
    print("c:",c)
    sum=a+b+c
    print(sum)

ADD(10,20)

a: 10
b: 20
c: 50
80

In [25]:
def ADD(a,b,c=50):
    print("a:",a)
    print("b:",b)
    print("c:",c)
    sum=a+b+c
    print(sum)

ADD(10,20,100)

a: 10
b: 20
c: 100
130

In [26]:
def ADD(a,b,c=50):
    print("a:",a)
    print("b:",b)
    print("c:",c)
    sum=a+b+c
    print(sum)

ADD(20)

TypeError: ADD() missing 1 required positional argument: 'b'

In [27]:
def ADD(a=50,b,c):
    print("a:",a)
    print("b:",b)
    print("c:",c)
    sum=a+b+c
    print(sum)

ADD(10,20)

SyntaxError: non-default argument follows default argument (3687319767.py, line 1)

**Always keep Defualt Arguments AT Last**

In [28]:
def ADD(b,c,a=50):
    print("a:",a)
    print("b:",b)
    print("c:",c)
    sum=a+b+c
    print(sum)

ADD(10,20,)

a: 50
b: 10
c: 20
80

In [19]:
def ADD(b,c,a=50):
    print("a:",a)
    print("b:",b)
    print("c:",c)
    sum=a+b+c
    print(sum)

ADD(10,20,30)

a: 30
b: 10
c: 20
60

In [ ]:
n1,n2,n3=10 # w
n1,n2=20,n3 # e
n1=10,n2,n3 # e
n1,n2=20,n3=10 # w
n1,=10,n2,n3=20 # e
n1=1,n2=20,n3   # e
n1=10,n2=20,n3=30 # w

- before we see
    - Functions without arguments 
    - function with argument
    - functions with default arguments

**Local-global variable**

- local variables define inside the function
  
    - local variable can not use outside the function
      
    - **Addition** is a local variable concept
      
    - in that the variable sum we can not print outside

- global variable defines outside the function
    - global variables can be use anywhere in entire script
      
    - gloable variables can be use multiple functions

In [23]:
def ADDITION():
    a=10
    b=20
    c=30
    summ=a+b+c
    print(f"the addition of {a}, {b} and {c} are: ",summ)
ADDITION()

the addition of 10, 20 and 30 are:  60

In [21]:
n11=10
n22=20
n33=30
def ADDITION1():
    sum1=n11+n22+n33
    print(f"the addition of {n11}, {n22} and {n33} are: ",sum1)
ADDITION1()

the addition of 10, 20 and 30 are:  60

In [7]:
n1

NameError: name 'n1' is not defined

In [25]:
n11

10

In [26]:
sum1

NameError: name 'sum1' is not defined

In [12]:
# imp question for interview below
n11=10
n22=20
n33=30
def Addition2():
    global sum2
    sum2=n11+n22+n33
    print("the addition of {n11}, {n22} and {n33} are: ",sum2)
Addition2()

the addition of {n11}, {n22} and {n33} are:  60

In [13]:
sum2

60

In [16]:
def ADDITION3():
    global a,b,c,sum
    a=10
    b=20
    c=30
    sum=a+b+c
    print("the addition of {a}, {b} and {c} are: ",sum)
ADDITION3()

the addition of {a}, {b} and {c} are:  60

In [15]:
a

10

In [17]:
b

20

In [18]:
x=10
print(x)

10

**Unbound Local Error**

-

In [19]:
print(y)
y=10

NameError: name 'y' is not defined

In [21]:
def f1():
    print(y)
    y=10
f1()

UnboundLocalError: cannot access local variable 'y' where it is not associated with a value

In [23]:
z=100

def f2():
    print(z)
    z=10
f2()

UnboundLocalError: cannot access local variable 'z' where it is not associated with a value

**A same variabele defines  as global also local python consider local variabele first**

- first preference is local variabel  in function

- then global and arguments between them first priority is latest updated value
    - ex:   z=100
    -       def f2(z):
    -           print(z) # it will print 50 because f2(z=50) is letest updated 
    -       f2(z=50)

In [25]:
z=100

def f2():
    print(z)
f2()

100

In [27]:
  z=100
def f2():
    print(z)
f2()

100

In [29]:
z=100

def f2():
    z=10
    print(z)
f2()

10

In [30]:
summ=0
def Add1():
    a=10
    b=20
    summ=summ+a
    print(summ)
Add1()

UnboundLocalError: cannot access local variable 'summ' where it is not associated with a value

In [27]:
summ=0
def Add2():
    a=10
    b=20
    c=summ+a
    print(c)
Add2()

10

In [28]:
def ADD1():
    p=100
    q=200
    r=300
    s=p+q+r
    print(s)
ADD1()

600

In [29]:
# if same variable available in local and global, first priority is is **local variable**

p=300  #global variable less priority than local
def ADD1():
    p=100  # local variable first priority in function 
    q=200
    r=300
    s=p+q+r # s=100+200+300=600
    print(s)
ADD1()

600

In [30]:
p=300 
def ADD3():
    q=200
    r=300
    s=p+q+r
    print(s)
ADD3()

#define : p=300
# call  : p=300
# run   : p=100

800

In [32]:

def ADD4():
    q=200
    r=300
    s=p+q+r  #s=400+200+300=900
    print(s)
p=400  # this is a global variable and only one available not in any local
ADD4()

900

In [33]:
def ADD3():
    q=200
    r=300
    s=pp+q+r
    print(s)
pp=400
ADD3()

900

In [34]:
# step-1: Define the function
# step-2: call the function
# step-3: run the function


def ADD3():
    q=200
    r=300
    s=p+q+r
    print(s)
ADD3()

900

In [35]:
 
def ADD6(p):
    q=200
    r=300
    s=p+q+r # s=700+200+300=>1200
    print(s)
ADD6(p=700)

# define   : 
# call     : p=700
# running  : p=700

1200

In [36]:
def ADD6(p):
    p=900  # local variable is first priority then Argument 
    q=200
    r=300
    s=p+q+r # s=900+200+300=>1400
    print(s)
ADD6(p=700)

# p
# p=700
# p=900

1400

In [37]:
def ADD6():  # argument <P> missing 
    q=200
    r=300
    s=p+q+r # s=700+200+300=>1200
    print(s)
ADD6(p=700)

TypeError: ADD6() got an unexpected keyword argument 'p'

In [38]:
# latest updated value it takes 
p=1000
def ADD6(p):
    q=200
    r=300
    s=p+q+r # s=700+200+300=>1200
    print(s)
ADD6(p=700) # last this value assign

# define : p=1000
# call   : p=700
# run    : p=700

1200

In [1]:
p=1000
def ADD6(p):
    p=1100
    q=200
    r=300
    s=p+q+r # s=1100+200+300=>1600
    print(s)
ADD6(p=700)

# define : p=1000
# call   : p=700
# run   : p=1100

1600

In [3]:
p=1000
def ADD6(p):
    q=200
    r=300
    s=p+q+r # s=700+200+300=>1200
    print(s)
p=2000
ADD6(p=700)

# 1000=======1000=====2000====700

# define p=1000
# call P=700
# run p=1100

1200

In [5]:
p=1000
def ADD6():
    q=200
    r=300
    s=p+q+r # s=2000+200+300=>2500
    print(s)
p=2000
ADD6()

#1000=====1000=======2000===2000
# g ======define=====g=======call===run

2500

In [6]:
p=1000
def ADD6(p=200):
    q=200
    r=300
    s=p+q+r # s=300+200+300=>800
    print(s)
p=2000
ADD6(p=300)

# 1000=======200=====2000=====300
# g======  def ====== g ======call===run

800

In [8]:
p=1000
def ADD6():
    q=200
    r=300
    s=p+q+r # error 
    p=200
    print(s)
p=2000
ADD6()

UnboundLocalError: cannot access local variable 'p' where it is not associated with a value

### Return statements

- return statements are used to return the values
- every functin will do some operations

- those operation will save in one variable 

- if we want to use those values outside the functions we can not use 

- for that we are using **global** keyword 

- we can also use those valuse outside function using **return**

In [ ]:
def AVERAGE(n1,n2,n3=30):
    summ=n1+n2+n3
    avg=summ/3
    return(avg)
avg=AVERAGE(10,20,30)

In [ ]:
avg

20.0

In [3]:
def AVERAGE(n1,n2,n3=30):
    summ=n1+n2+n3
    avg=summ/3
    return(avg,summ)
a=AVERAGE(10,20,30) # works
a,b=AVERAGE(10,20,30) # works
a,b,c=AVERAGE(10,20,30) # error

ValueError: not enough values to unpack (expected 3, got 2)

In [ ]:
# a,b=10
a=10,b

NameError: name 'b' is not defined

In [ ]:
def greet(name, age=93):
    print(f"my name is {name} and my age is {age}")
greet(name="sachin",age=22)

my name is sachin and my age is 22

In [ ]:
def greet(name, age=93):
    print(f"my name is {name} and my age is {age}")
greet("sachin",22)

my name is sachin and my age is 22

In [ ]:
def greet(name, age=93):
    print(f"my name is {name} and my age is {age}")
greet("sachin",age=22)

my name is sachin and my age is 22

In [ ]:
def greet(name, age=93):
    print(f"my name is {name} and my age is {age}")
greet(name="sachin",22)

SyntaxError: positional argument follows keyword argument (2007691520.py, line 3)

In [ ]:
greet(name="sachin", 22)

SyntaxError: positional argument follows keyword argument (575538624.py, line 1)

In [ ]:
greet("sachin",age=22)

my name is sachin and my age is 22

In [ ]:
greet(name="sachin", age=22)

my name is sachin and my age is 22

- before slash: **positional argument**

    - which means the position is fixed
    - we no need to use the **variable name**
    - we can not use keyword argumet

- after slash: **keyword arguments**

    - we can use the varaible name
    - or we can provide directly
    - we use both positional or keyword

- before star: **positional argument**

    - which means you can use both positonal and keyword arguments
    - our choise 

- after star: **keyword argument**
    - we must use only keyword argument

In [ ]:
import math

In [ ]:
math.sin(x=90)

TypeError: math.sin() takes no keyword arguments

In [ ]:
math.pow(x=2, y=3) # error
math.pow(2, y=3) #error
math.pow(x=2, 3) # error
math.pow(2, 3) # work

In [ ]:
import random

In [ ]:
random.randint()

In [ ]:
def greet(name, *,age):
    print(f"my name is {name} and my age is {age}")

In [ ]:
greet("sachin",22)

TypeError: greet() takes 1 positional argument but 2 were given

In [ ]:
greet(name="sachin",age=22)

my name is sachin and my age is 22

In [ ]:
greet(name="sachin",22)

SyntaxError: positional argument follows keyword argument (272707398.py, line 1)

In [ ]:
greet("sachin",age=22)

my name is sachin and my age is 22

In [ ]:
greet(name="sachin",age=22)

my name is sachin and my age is 22

In [ ]:
def greet1(name, /,age):
    print(f"my name is {name} and my age is {age}")

In [ ]:
greet1("sachin",22)

my name is sachin and my age is 22

In [ ]:
greet1(name="sachin",22)

SyntaxError: positional argument follows keyword argument (3377342353.py, line 1)

In [ ]:
greet1("sachin",age=22)

my name is sachin and my age is 22

In [ ]:
def greet2(name, *,age):
    print(f"my name is {name} and my age is {age}")

**args-kwargs**

- args means we can provide multiple value without argument name

    - which means while calling function we can provide directly "virat",102
    - while define the function you no need to mention agrgument names also 
    - the output will cames in **tuple** format: ("virat",102)
- kwargs keyword arguments means we can provide multiple values with argument name
    - while define the function no need to provide the name of the arguments
    - while call the functions definitely we need to provide with argument names
    - name="virat", runs=102
    - the output comes in **dict** format: {'name':"virat",'runs':102}

In [ ]:
# with out name
# output in tuple format

def fun1(*args):
    print(args)
fun1(10,20)

(10, 20)

In [ ]:
#with name
# output in dict format
def fun2(**kwargs):
    print(kwargs)
fun2(a=10,b=20)

{'a': 10, 'b': 20}

In [ ]:
def fun2(**kwargs):
    print(kwargs)
fun2(name="sachin",age=20)

{'name': 'sachin', 'age': 20}

**Functions in functions(nested function)**

In [ ]:
def greet1():
    print("good morning")
    greet2()
def greet2():
    print("good night")
    greet1()
greet2()

**recursion problem**

- calling the function inside the same function

In [ ]:
def greet1():
    print("good mornig")
    greet1()
greet1()

In [ ]:
def f1(n):
    print(n)
    f1(n-1)
f1(10)

In [ ]:
def f1(n):
    if n==0:
        break 
    print(n)
    f1(n-1)
f1(10)

SyntaxError: 'break' outside loop (4236717111.py, line 3)

In [ ]:
def f1(n):
    if n==0:
        return(0)
    print(n)
    f1(n-1)
f1(10)

10
9
8
7
6
5
4
3
2
1

In [ ]:
def f1(n):
    if n==0:
        return(0)
    print(n)
    f1(n-1)
f1(10)
# n=10 ==== print(10) ==== f1(10-1=9) ==== print(9) ====f1(9-1=8) ==== print(8)

True

In [ ]:
def f2(n):
    if n==0:
        return(0)
    print(n)
    return n+f2(n-1)
    
f2(5)

5
4
3
2
1

15

In [ ]:
def sai():
    if 10==10:
        print("")
        return(0)
        print("")

In [ ]:
def f3(n):
    if n==0:
        return(1)
    print(n)
    fact= n*f3(n-1)
    return(fact)
f3(5)

5
4
3
2
1

120