- print is a inbuilt function used to print the outputs 
- we always work towards only one end goal: **custemer satisfaction**
- client does not know the python code
- What ever we want to show the output we need to display very vlearly
- Question yourself: **AM I SHOWING OUTPUT PROPERLY**

In [1]:
n1=100
n2=200
add=n1+n2
print("the addition of 100 and 200 is 300")
print("the summation of 100 and 200 is 300")

the addition of 100 and 200 is 300

In [ ]:
# the addition of 100 and 200 is 300

In [ ]:
# the writeup : string quotes(red)
# 100 and 200 100 or 2000
#storedin variable n1 and n2 (balck)

In [ ]:
n1=10000
n2=20000
add=n1+n2
print("the addition of 100 and 200 is 300")
print("the summation of 100 and 200 is 300")

In [ ]:
n1=10000
n2=20000
add=n1+n2
print("the addition of 100 and 200 is 300")

In [16]:
name = "sachin"
age= 22
place="jalna"
print("I am ",name, age,"year old coming from",place)
print("I am {} {} year old coming from ".format(name, age, place))  # format method

print(f"i im {name} {age} years old coming from {place}") # F strig method
print("I am " + name)  #string concatenation
print("I am %s and age is %s " % (name, age))

I am  sachin 22 year old coming from jalna
I am sachin 22 year old coming from
i im sachin 22 years old coming from jalna
I am sachin
I am sachin and age is 22

# python Assignment 2

In [5]:
n1=1000
n2=200
add=n1+n2
print("the addition of 100 and 200 is 300")
print("the addition of {} and {} is {}")
print("the addition of {} and {} is {}".format(n1,n2, add))

the addition of 100 and 200 is 300
the addition of {} and {} is {}
the addition of 1000 and 200 is 1200

In [17]:
n1=100
n2=200
add=n1+n2
sub= n1-n2
mult=n1*n2
subs=n1/n2
print(f"the addition of {n1} and {n2} is {add}")
print(f"the subtraction of {n1} and {n2} is {sub}")
print(f"the multiplication of {n1} and {n2} is {mult}")
print(f"the division of {n1} and {n2} is {subs}")

the addition of 100 and 200 is 300
the subtraction of 100 and 200 is -100
the multiplication of 100 and 200 is 20000
the addition of 100 and 200 is 0.5

In [18]:
pi=3.14
r=100
area_of_circule= pi*r*r
print(f"the area of cercule is {area_of_circule}")

the area of cercule is 31400.0

In [19]:
hight=100
breadth=100
area_of_traingle=0.5*breadth*hight
print(f"the area of triangle is {area_of_traingle}")

the area of triangle is 5000.0

In [20]:
n1=10
n2=20
n3=30
aveg= (n1+n2+n3)/3
print(f"the average of 3 numbers is {aveg}")

the average of 3 numbers is 20.0

In [21]:
bill_amount=1000
tip_amoun=50
total_bill= bill_amount+ tip_amoun
print(f"the total bill amount is {total_bill}")

the total bill amount is 1050

In [24]:
salary=500
tax_percent= 40
tax_amount = (salary*tax_percent)/100
print(f"the total amount is {tax_amount}")

the total amount is 200.0

In [26]:
dollars=5
in_reepe= dollars *88
print(f"{dollars} dollars in rupee is {in_reepe}")

5 dollars in rupee is 400

In [29]:
weight_in_kg=60
weight_in_pound= weight_in_kg * 2.2046
print(f"the {weight_in_kg}Kg in pound is {weight_in_pound}")

the 60Kg in pound is 132.276