In [ ]:
- Representations

- Inbuilt functions

    - type
    - print
    - min
    - max
    - len
    - sum
    - sorted
    - reversed

- Concatenation 
- Index operation
- mutable vs immutable
- slice
- methods

**representations**

In [11]:
s1='python'
s2="python"
s3="i like 'python'"
s4='i like "python"'

print(s1)
print(s2)
print(s3)
print(s4)

python
python
i like 'python'
i like "python"

In [ ]:
type()
print()
len()
min()
max()
sum()
sorted()
reversed()

In [12]:
type(s1)

str

In [13]:
print(s1)

python

In [14]:
len(s1)

6

In [20]:
min(s1),max(s1)

('h', 'y')

In [21]:
for i in "python":
    print(i,ord(i))

p 112
y 121
t 116
h 104
o 111
n 110

In [17]:
sum(s1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [22]:
sorted(s1)

['h', 'n', 'o', 'p', 't', 'y']

In [19]:
reversed(s)

**iterable**

- whenever we see iterable word recall loops

- i can print something by using a loop

    - that can be string
 
    - that can be list
 
    - tha can be tuple etc

In [1]:
for i in 1234:
    print(i)

TypeError: 'int' object is not iterable

In [2]:
sorted("python")

['h', 'n', 'o', 'p', 't', 'y']

In [23]:
sorted(1234)

TypeError: 'int' object is not iterable

In [4]:
soreted(iterable="python")

NameError: name 'soreted' is not defined

In [5]:
sorted("python")

['h', 'n', 'o', 'p', 't', 'y']

In [7]:
sorted("python", reverse=True)
# sorted(iterabele, key=None, reverse=False)

['y', 't', 'p', 'o', 'n', 'h']

In [24]:
#reversed(sequence,/)
reversed('python')

In [25]:
list(reversed('python'))

['n', 'o', 'h', 't', 'y', 'p']

In [26]:
ans=reversed('python')
for i in ans:
    print(i)

n
o
h
t
y
p

In [36]:
s1="python"
l1=["p","y","t","h","o","n"]
l2=[10,20,30,40,50,60]
l3=["p","y","t",10,20,30]
type(l1)
print(l1)
len(l1)
min(l1)
max(l1)
# sum(l1)
sorted(l1)
reversed(l1)

['p', 'y', 't', 'h', 'o', 'n']

In [29]:
type(l1)

list

In [40]:
min(l1),max(l1)
min(l2),max(l2)
min(l3),max(l3)

TypeError: '<' not supported between instances of 'int' and 'str'

In [31]:
len(l1)

6

In [41]:
sorted(l1)
sorted(l2)
sorted(l3)

TypeError: '<' not supported between instances of 'int' and 'str'

In [42]:
list(reversed(l1))
list(reversed(l2))
list(reversed(l3))

[30, 20, 10, 't', 'y', 'p']

**concatenation**

In [8]:
s1="hello"
s2="hi"
s1+s2
s1+" "+s2

'hello hi'

In [10]:
s1-s2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [11]:
s1/s2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [12]:
s1*s2

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
s1-s2  #unsupported operand type(s) for -: 'str' and 'str'
s1/s2  #  unsupported operand type(s) for /: 'str' and 'str'
s1*s2  # can't multiply sequence by non-int of type 'str'

# can't multiply sequence by non-int of type 'str'
# can multiply sequence by int of type

In [13]:
s1*2

'hellohello'

**index**

- index will give an idea how to access the elements in a string

- function represents with normal paranthases

- access is represent with square brackets

In [17]:
s1="python"

In [ ]:
-6  -5  -4  -3  -2  -1
p   y   t   h    o   n
0   1   2   3    4   5

In [18]:
s1[0]

'p'

In [19]:
s1[0],s1[-6]

('p', 'p')

In [ ]:
s1[0]  #"p"
s1[1]  #"y"
s1[2]  #"t"
s1[3]  #"h"
s1[4]  #"o"
s1[5]  #"n"

In [20]:
for i in range(0,6):
    print(i, s1[i])

0 p
1 y
2 t
3 h
4 o
5 n

In [23]:
s1="python"
for i in s1:
    print(i,end=" ")

p y t h o n

In [24]:
for i in range():
    print(s1[i],end=" ")

TypeError: range expected at least 1 argument, got 0

**in vs range**

- if we want to access the elements directly use **in** operater

    - for i in in "python" where i is characters
- if we want to access the element using **range** apply **index**
    - for i in range(len("python")) where i is a number

In [2]:
s1="python"

**enumerate**

- enumerate is an inbuilt function will give index and element

- in below i become index and j become element

In [5]:
for i,j in enumerate(s1):
    print(j)

p
y
t
h
o
n

In [9]:
# wap ask the user get the number of "a" in a give string
# s1="ola ola ola"

s1="ola ola ola"
count=0
for i in s1:
    if i=="a":
        count+=1

print("the count of 'a'",count)

the count of 'a' 3

In [11]:
s1="ola ola ola"
count=0
for i in range(len(s1)):
    if s1[i]=="a":
        count+=1

print("the count of 'a': ",count)

the count of 'a' 3

In [14]:
# wap ask the user get sum of all indexes of "a"
sum=0
for i in range(len(s1)):
    if s1[i]=='a':
        sum=sum+i
print("sum of indexes of a are: ",sum)

18

In [ ]:
"o l a   o l a   o l a"
 0 1 2 3 4 5 6 7 8 9 10

In [16]:
# wap ask the user print all the vowels both repeated and non repeted form a string
# s1="hai how are you"

s1="hai how are you"
for i in s1:
    if i =="a" or i=="i"or i=="o"or i=="e"or i=="u":
        print(i,end=" ")

a i o a e o u

In [17]:
for i in s1:
    if i in "aeiou":
        print(i)

a
i
o
a
e
o
u

In [47]:
# wap ask the user print all the vowels only one time
# s1="hai how are you"
s1="hai how are you"
dbl=""
for i in s1:
    if i in "aeiou":
        if i not in dbl:
            dbl=dbl+i
print("vowels= ",dbl)

vowels=  aioeu

In [44]:
s1 = "hai how are you a"
vowels = "aeiou"
unique = ""       
# duplicate = ""   

for ch in s1:
    if ch in vowels:
        if ch not in unique:
            unique += ch
        # elif ch not in duplicate:
        #     duplicate += ch

print("Vowels:", unique)
# print("Duplicate vowels:", duplicate)

Vowels: aioeu

In [3]:
s1="ola ola ola"
s2=""
for i in s1:
    if i in "aeiou" and i not in s2:
        s2=s2+i

print(s2)

# step-1: i="o"
#         'o' in 'aeiou' (T) and 'o' not in '' (T)
#            s2=""+'o' ="o"

# step-2: i="l"
#         'o' in 'aeiou' (F) and 'o' not in '' (T)


# step-3: i="a"
#         'o' in 'aeiou' (T) and 'o' not in '' (T)
#            s2="o"+'a' ="oa"

oa

**Mutable vs Immutable**

- Mutable: charcters in a string can be changed by index operations

- Immutable: characters in a string can not be change index operations

In [4]:
# strins are imuutable 
str1="welcome" # 'l' to 'L'
str1[2]='L'

TypeError: 'str' object does not support item assignment

In [6]:
# list are mutable(cae be change)
l1=['w','e','l','c','o','m','e']
l1[2]='L'
l1

['w', 'e', 'L', 'c', 'o', 'm', 'e']

**slice**

- Slice means a sub string in a given string

- Extracting a piece of character using **indexes**

In [ ]:
range()
string[start:stop:step]

In [ ]:
-15  -14  -13  -12 -11 -10 -9  -8   -7  -6  -5  -4  -3 -2   -1
h     a    i         h   o   w       a   r   e       y   o   u
0     1    2   3     4   5   6   7    8  9   10  11  12  13  14

In [7]:
for i in range(1,10,2):
    print(i,end=" ")

1 3 5 7 9

In [8]:
str1="hai how are you"
str1[1:10:2]

'a o r'

In [9]:
str1[4:-2:1]

'how are y'

In [10]:
str1[-4:-2:1]

' y'

In [11]:
str1[-1:-2:-1]

'u'

In [12]:
str[4:-11:-1]

TypeError: type 'str' is not subscriptable

In [13]:
str1[2:25:2]

'ihwaeyu'

In [14]:
str1[2:20000]

'i how are you'

In [15]:
str1[:140]

'hai how are you'

In [16]:
str1[:]

'hai how are you'

In [17]:
str1[0:]

'hai how are you'

In [19]:
str1[::2]

'hihwaeyu'

In [20]:
str1[::] #str[s:s:s]

'hai how are you'

In [21]:
str1[::-1]

'uoy era woh iah'