In [5]:
# write a program , take salary and tax and find tax_amount?

salary= 100000
tax_percentage =10
tax_amount= (salary*tax_percentage)/100
tax_amount

10000.0

- int 
- float
- complex
- str
- list
- tuple
- dict
- set
- frozenset
- range
- bytes
- bytearray
- memoryview

**integer data type**

In [1]:
number= 100
type(number)

int

**float data type**

In [2]:
n1=10.5
type(n1)

float

**Exponential Represention**

In [6]:
print(1e1)    # 1* 10
print(1e1)   # 1* 10^1
print(1e2)  # 1* 10^2 ===> 1*100
print(2e3)  #2*1000 ---

10.0
100.0
2000.0

In [7]:
print(1e1, 1e+1)  # 1*10
print(1e2, 1e+2)  # 1*100
print(2e3,2e+3)  # 1*1000

10.0 10.0
100.0 100.0
2000.0 2000.0

In [8]:
1e+1  # 1*10
1e-1  #1/10

0.1

In [9]:
2e+3  #2*1000 --> 2*
2e-3  #2*1000

0.002

**String**

In [2]:
#varible
#keyword
#string

name="naresh it"
institute_name= "naresh it"
coaching_center="naresh it"

In [10]:
print(name)
name

naresh it

'naresh it'

In [9]:
print(institute_name)
institute_name

naresh it

'naresh it'

In [8]:
print(coaching_center)
coaching_center

naresh it

'naresh it'

In [34]:
greet1='naresh it'
greet2= '     naresh it'
len(greet1),len(greet2)

(9, 14)

In [35]:
print(greet1)
print(greet2)

naresh it
     naresh it

In [36]:
greet1,greet2

('naresh it', '     naresh it')

**Double quotes**

In [37]:
# single and double qoutes both are same 
name1= "hydrabad"
name1

'hydrabad'

In [47]:
s1="I joined in Ds and AI class"  #works
s2="I joined in 'Ds and AI' class"  #works
s3='I joined in "Ds and AI" class'  #works
s4=I joined in "Ds and AI" class  # fail
s5= I joind in 'DS and AI' class  #fail

'I joined in Ds and AI class'

In [51]:
print(s1)
s1

I joined in Ds and AI class

'I joined in Ds and AI class'

In [48]:
print(s2)
s2

I joined in 'Ds and AI' class

"I joined in 'Ds and AI' class"

In [49]:
print(s3)
s3

I joined in "Ds and AI" class

'I joined in "Ds and AI" class'

In [50]:
print(s4)
s4

NameError: name 's4' is not defined

**Triple quoutes**

- in jupuyter notebook we have a **markdown**  option to write a information

- **markdwom** means we are convying same information to the user

- but in other platforms like **vscode PyCharm** we dont have markdown option

- this is also calld as **Doc stirng**

- the code part we can provide single or double quotes

- but conveying the information about the code is **triple quotes**
- **Triple quotes** are using in prompt engineering

**Boolean**

- when we ask the questions to machine
- machine always provide only two asnswers

    - true
    - false

- true means 1
- false means 0

- you can think in another way true mean ON false means OFF

In [52]:
on = True
type(on)

bool

In [53]:
off= False
type(off)

bool

In [54]:
'True'=true

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1229510997.py, line 1)

In [55]:
'true'=True

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1770790095.py, line 1)